body {
    font: 10px sans-serif;
}

.code_category_headings {
}

/* for each label */
.code_category {
    float: left;
    width: 25%;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
}

.code_category_list {
    float: left;
}

.code_category_list .module_list {
    /*display: none;*/
}

.code_category_list .module_list .module_name {

}

.code_category_list .module_list .common_module {
    font-weight: bold;
}